#checkout-summary {
    max-height: 400px;
    overflow-y: auto;
}

#checkout-summary::-webkit-scrollbar {
    width: 4px;
}

#checkout-summary::-webkit-scrollbar-track {
    background: #f5f5f4;
}

#checkout-summary::-webkit-scrollbar-thumb {
    background: #a8a29e;
    border-radius: 2px;
}

#checkout-summary::-webkit-scrollbar-thumb:hover {
    background: #78716c;
}

.checkout-page {
    background-color: #f5f5f4;
}

input[type="radio"][name="deliv"]:checked + span {
    color: var(--stone-900);
}

label:has(input[type="radio"][name="deliv"]:checked) {
    border-color: var(--stone-900);
    background-color: #f9f8f6;
}

.order_main__yH15g {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
    padding-bottom: 5rem;
}

.order_main__yH15g .order_sidebar__EK2a4 {
    flex-shrink: 0;
    width: 300px;
}

@media (min-width: 1024px) {
    .order_main__yH15g .order_sidebarInner__Huobo {
        position: sticky;
        top: 16px;
    }
}

.style_orderList__6MOXY {
    background-color: #fff;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
}

.style_blockTitle__7B5tm {
    color: #111111;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    font-family: Gilroy-Black, sans-serif;
    font-size: 20px;
    font-weight: 600;
    justify-content: space-between;
    line-height: 1.4;
    
}

.TotalCost_block__ZgPVG {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.TotalCost_block__ZgPVG .TotalCost_title__S9CHl {
    color: #111111;
    font-family: Gilroy-Black, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.TotalCost_block__ZgPVG .TotalCost_totalList__HUQxt {
    margin-bottom: 1rem;
    overflow: hidden;
    width: 100%;
}

.TotalCostList_block__JVXVX li {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    line-height: 1.4285714286;
    list-style: none;
    margin-bottom: 0.5rem;
    position: relative;
}

.TotalListContent_total__iePy6 {
    color: #111111;
    display: flex;
    font-family: Gilroy-Black, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: space-between;
    line-height: 1.5;
    margin-top: 1rem;
}

.order_main__yH15g .order_content__wTcCo {
    flex-grow: 1;
    min-width: 0;
}

.Panel_panel__bea8K {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 1.5rem;
}

.Panel_panel__bea8K:last-of-type {
    margin-bottom: 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.Panel_panel__bea8K .Panel_header__fFjDB {
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
}

.Panel_panel__bea8K .Panel_title__ZeSA_ {
    color: #111111;
    flex-shrink: 0;
    font-family: Gilroy-Black, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 0;
}

.Buyer_buyer__q7Hh4 .Buyer_fields__FFGlH {
    display: flex;
}

.Buyer_buyer__q7Hh4 .Buyer_inputs__UlKh_ {
    max-width: 348px;
    width: 100%;
}

.Buyer_buyer__q7Hh4 .Buyer_inputs__UlKh_ .form-group {
    margin-bottom: 0.5rem;
}

.form-group {
    margin-bottom: 0.5rem;
}

.Buyer_buyer__q7Hh4 .Buyer_inputs__UlKh_ .form-group-label {
    font-size: 14px;
    line-height: 1.4285714286;
}

.form-group-label {
    margin-bottom: 0.25rem;
}

.Buyer_buyer__q7Hh4 .Buyer_inputs__UlKh_ .form-control {
    padding: 0.5rem 1rem;
}

.form-control.wout-r-icon {
    padding-right: 0.5rem;
}

.form-group input {
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
}

.Buyer_subscriptions__3fqtO {
    font-size: 14px;
    margin-top: 1rem;
}

.Buyer_subscriptions__3fqtO .Buyer_text__aINTh {
    color: #666;
}

.Buyer_subscriptions__3fqtO .Buyer_items__fHd9n {
    display: flex;
    margin-top: 0.5rem;
}

.Buyer_subscriptions__3fqtO .Buyer_items__fHd9n .custom-control {
    margin-right: 0.5rem;
}

.custom-control {
    color-adjust: exact;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.875rem;
    position: relative;
    -webkit-print-color-adjust: exact;
    z-index: 1;
    margin-bottom: 0.5rem;
}

input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.custom-control input {
    display: none;
}

.custom-control-input {
    height: 1.3125rem;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 1.125rem;
    z-index: -1;
}

.custom-control-input[disabled]:checked + label, .custom-control-input[disabled][hash_color]:checked + label {
    cursor: default;
}

.custom-control-input:disabled ~ .custom-control-label, .custom-control-input[disabled] ~ .custom-control-label {
    color: #999;
}

.custom-control-input[disabled] + label, .custom-control-input[disabled][hash_color] + label {
    cursor: default;
}

.custom-control-label {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-left: 0.125rem;
    cursor: pointer;
    margin-bottom: 0;
    position: relative;
    vertical-align: top;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.Buyer_anotherRecipient__vAjAs {
    border-top: 1px solid #ebebeb;
    margin-top: 1.5rem;
    padding-top: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.Buyer_anotherRecipient__vAjAs .switcher input + label {
    justify-content: flex-end;
}

.switcher input + label {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    min-height: 25px;
}

.switcher--left label {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.Delivery_delivery__U8CeH .Delivery_city__F4_1c {
    font-size: 0.875rem;
    margin-left: auto;
}

.link-primary, .link-primary:active, .link-primary:focus, .link-primary:hover, .link-primary:visited {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border-color: #00b9bf !important;
    color: #00b9bf;
}

.Delivery_delivery__U8CeH .Delivery_grid__lYP9e {
    grid-gap: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.MethodItem_method__ZOHlw.MethodItem_active__qE35r.MethodItem_delivery__Ogw06 {
    grid-column: 1/-1;
    order: 0;
}

.MethodItem_method__ZOHlw .MethodItem_content__NvCAj {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 0.25rem;
    width: 100%;
}

.MethodItem_method__ZOHlw .MethodItem_titleWrap__rbTJd {
    display: flex;
    justify-content: space-between;
}

.MethodItem_method__ZOHlw .MethodItem_title__crx19 {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 600;
}

.MethodItem_method__ZOHlw .MethodItem_description__mJvZI {
    color: #666;
    display: inline-block;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 4px;
    width: 100%;
}

.deliveryItem_description__SPcgT {
    font-size: 14px;
    line-height: 1.4285714286;
}

.MethodItem_method__ZOHlw {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-width: 0;
    order: 1;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    transition: border-color 0.3s;
}

.MethodItem_method__ZOHlw:hover {
    border-color: #bbb;
}

.MethodItem_method__ZOHlw.MethodItem_active__qE35r {
    border-color: #9c3;
    max-width: 100%;
    width: 100%;
}

.MethodItem_method__ZOHlw.MethodItem_payment__BOQnD {
    padding-block: 0.75rem;
}

.MethodItem_method__ZOHlw .MethodItem_icon__OrWdh,
.MethodItem_method__ZOHlw.MethodItem_active__qE35r::after {
    height: 24px;
    width: 24px;
}

.MethodItem_icon__OrWdh {
    margin-bottom: 0.5rem;
    object-fit: contain;
}

@media (min-width: 1024px) {
    .payment_grid__ADLxr.payment_items-3__IItH7 div[class*="BottomInformer_block"],
    .payment_grid__ADLxr.payment_items-4__4P8wX div[class*="BottomInformer_block"] {
        height: 34px;
    }
}

.BottomInformer_block__acztE.BottomInformer_priority__qd5kR {
    background: hsla(81, 52%, 79%, 0.6);
}

.BottomInformer_block__acztE {
    align-items: center;
    bottom: -0.75rem;
    display: flex;
    font-size: 11px;
    height: 100%;
    line-height: 13px;
    margin: auto -1rem 0;
    max-height: 34px;
    padding: 0.25rem 1rem;
    position: relative;
}

.BottomInformer_block__acztE.BottomInformer_certificate__n0_0k .BottomInformer_iconWrap__FVLwB {
    height: 100%;
    inset: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
}

.alert_alert-info__xrfQD {
    background: hsla(81, 51%, 79%, 0.6);
}

.alert_alert__oMj1Z {
    border-radius: 0.25rem;
    color: #212121;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 1rem;
    padding: 0.125rem 0.5rem;
    text-align: left;
}

.alert_alert-info__xrfQD svg {
    color: #999;
}

.alert_alert__oMj1Z svg {
    flex-shrink: 0;
    margin-left: 0.25rem;
}

.EarnedBonuses_icon__yiBdX {
    cursor: pointer;
    margin-left: 0;
}

.OrderButton_btn__L9BIE {
    margin-bottom: 0.75rem;
}

.btn {
    -webkit-font-smoothing: antialiased;
    align-items: center;
    border-width: 0.125rem;
    display: inline-flex;
    justify-content: center;
    outline: none;
    position: relative;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    color: #444;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.625rem 1.375rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    background-color: transparent;
    border-color: #00b9bf;
    box-shadow: none;
    color: #00b9bf;
}

.btn-block {
    display: block;
    width: 100%;
    justify-content: center;
}

.btn:not(:disabled):not(.disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

._terms_terms-submit__2MgTG {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    width: 100%;
}

._terms_terms__vIVDx {
    color: #999;
    flex-shrink: 1;
    font-size: 0.75rem;
    line-height: 1rem;
}

.PromoCodes_block__SJYoD .PromoCodes_head__9rl1S {
    align-items: center;
    display: flex;
    margin-left: 0.5rem;
    width: 100%;
}

.services_panel__HFkdu .services_afterTitle__Z9C0m {
    font-size: 0.875rem;
    margin-left: auto;
}

.services_panel__HFkdu .services_head__PpRge {
    align-items: center;
    display: flex;
}

.services_panel__HFkdu .services_allServiceLink__WBHGC {
    font-size: 16px;
    line-height: 1.5;
}

.services_panel__HFkdu .services_slide__7R15B {
    height: auto;
    width: 180px;
}

.swiper-wrapper {
    display: flex;
    box-sizing: content-box;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 100%;
}

.swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 100%;
}

.style_serviceItem__lv7_p {
    background: #f6f6f6;
    border-radius: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.5rem 0.75rem 0.75rem;
}

.style_serviceItem__lv7_p .style_imgSection__N3NFt {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.style_serviceItem__lv7_p .style_title__mwrJi {
    color: #111111;
    font-family: Gilroy-Bold, sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin-top: 0.5rem;
}

.style_serviceItem__lv7_p .style_description__DUBPd {
    color: #666;
    font-size: 12px;
    line-height: 1.3333333333;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
}

.style_serviceItem__lv7_p .style_price__nXxH8 {
    font-family: Gilroy-Bold, sans-serif;
    font-size: 14px;
    line-height: 1.4285714286;
    margin-top: auto;
}

.PromoCodes_promoCodeField__I_gdU.has-l-icon:not(.is-invalid) {
    border-color: #999;
}

.PromoCodes_promoCodeField__I_gdU.has-l-icon {
    align-items: center;
    border-style: dashed;
    flex-direction: row-reverse;
    height: auto;
    justify-content: flex-end;
    padding: 1rem;
    pointer-events: auto;
}

.Field_marginRight4__c8NHA {
    margin-right: 4px;
}

.form-control.has-l-icon {
    padding-left: 0.6875rem;
}

.form-control {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0.4375rem 2.5rem 0.4375rem 0.9375rem;
    position: relative;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 0.5rem;
    box-shadow: none;
    color: #212121;
    font-size: 1rem;
    font-weight: 400;
    height: calc(1.5em + 0.875rem + 2px);
    line-height: 1.5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
}

.UnderPayment_onlineMethod__gnJ_l {
    color: #666;
    display: flex;
    font-size: 12px;
    gap: 8px;
    line-height: 1.3333333333;
    margin-top: 0.5rem;
}

.UnderPayment_onlineMethod__gnJ_l div {
    align-self: center;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #111111;
    font-family: Gilroy-Bold, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    margin: 16px 0;
}

.h1, .h1:first-child, .h2:first-child, .h3:first-child, .h4:first-child, .h5:first-child, .h6:first-child, h1, h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}

.h4, h4 {
    font-size: 26px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.25rem;
    margin-top: 0;
}

.payment_grid__ADLxr {
    grid-gap: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

