#checkout-summary {
    max-height: 400px;
    overflow-y: auto;
}

#checkout-summary::-webkit-scrollbar {
    width: 4px;
}

#checkout-summary::-webkit-scrollbar-track {
    background: #f5f5f4;
}

#checkout-summary::-webkit-scrollbar-thumb {
    background: #a8a29e;
    border-radius: 2px;
}

#checkout-summary::-webkit-scrollbar-thumb:hover {
    background: #78716c;
}

