.first-product-gallery {
    position: relative;
}

.first-product-gallery .grid.grid-cols-4 > div {
    transition: all 0.3s ease;
}

.first-product-gallery .grid.grid-cols-4 > div:hover {
    opacity: 0.8;
}

#main-img {
    transition: opacity 0.3s ease;
}

.first-product-gallery .grid.grid-cols-4 > div.active {
    border: 2px solid var(--stone-900);
    padding: 0.25rem;
}


.product-extra-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 944px;
}

.product-extra-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-usp {
    border: 1px solid #666;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 24px 0;
    padding-bottom: 40px;
    position: relative;
}

.product-usp legend {
    font-family: Gilroy-Bold, sans-serif;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
    margin-left: 40px;
    padding-left: 8px;
    padding-right: 12px;
    width: auto;
}

.product-usp-list {
    -moz-column-gap: 40px;
    column-gap: 40px;
    display: flex;
    flex-wrap: wrap;
    padding: 32px 48px 0;
    row-gap: 20px;
}

.product-usp-item {
    align-items: center;
    display: flex;
    gap: 8px;
}

.product-usp-item img {
    height: 40px;
    width: 40px;
}

.product-usp-note {
    color: #666;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
    padding: 0 48px;
}

.product-about {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.product-about-title {
    font-family: Gilroy-Bold, sans-serif;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

.product-about-tabs {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
}

.product-about-tabs a,
.product-about-tabs button {
    background: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 100px;
    font-size: 14px;
    line-height: 16px;
    padding: 11px 15px;
}

.product-about-tabs .product-about-tab--active {
    background-color: #111;
    border-color: #111;
    color: #fff;
}

.product-about-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-spec-row {
    display: flex;
}

.product-spec-dots {
    border-bottom: 1px dotted #bbb;
    flex-grow: 1;
    height: 1em;
    margin: 0 0.5em;
}

.product-spec-value {
    width: 50%;
}

.product-about-body .product-about-more {
    margin-top: 4px;
}

.product-about-more {
    width: fit-content;
}

.product-color-note {
    margin-top: 12px;
}

.product-about-more span {
    border-bottom: 1px dashed #212121;
    border-radius: 0;
}

.product-about-more span:hover {
    color: #00b9bf;
    border-bottom-color: #00b9bf;
}

.product-about-description {
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

.product-about-description ul {
    padding-left: 1.2rem;
}

.product-about-description ul li {
    margin-bottom: 4px;
    list-style: disc inside;
}

.product-color-features .product-color-link {
    cursor: pointer;
    text-decoration: underline;
}

.product-color-features .product-color-link:hover {
    color: #00b9bf;
}

@media (min-width: 768px) {
    .product-color-link--dashed:hover {
        border-bottom: 1px dashed #00b9bf;
    }
}

.product-docs-col > div {
    padding: 0;
}

.product-docs-item {
    display: flex;
    gap: 8px;
    padding: 6px 0;
}

.product-guarantee {
    position: relative;
    overflow: hidden;
    padding: 40px 0;
    width: 100%;
}

.product-guarantee-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 16px;
    padding: 48px;
    border-radius: 8px;
    background-color: #f6f6f6;
}

.product-guarantee-text {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-guarantee-title {
    font-family: Gilroy-Bold, sans-serif;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 4px;
}

.product-guarantee-desc {
    font-size: 14px;
    line-height: 20px;
    color: #4b4b4b;
}

.product-guarantee-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 142px;
    min-width: 142px;
    height: 80px;
    min-height: 80px;
    border-radius: 8px;
    background-color: #f6f6f6;
    overflow: hidden;
}

.product-guarantee-image img {
    display: block;
    width: 100%;
    height: auto;
}

.product-guarantee-logo {
    position: absolute;
    right: 40px;
    top: 0;
    width: 116px;
    height: 116px;
}

.fabric-block {
    display: flex;
    gap: 48px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.fabric-block-image-wrapper {
    position: relative;
    width: 360px;
    min-width: 360px;
    height: 360px;
}

.fabric-block-image {
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    object-fit: cover;
}

.fabric-block-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fabric-block-title {
    font-family: Gilroy-Bold, sans-serif;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

.fabric-block-description {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
}


