.first-product-gallery {
    position: relative;
}

.first-product-gallery .grid.grid-cols-4 > div {
    transition: all 0.3s ease;
}

.first-product-gallery .grid.grid-cols-4 > div:hover {
    opacity: 0.8;
}

#main-img {
    transition: opacity 0.3s ease;
}

.first-product-gallery .grid.grid-cols-4 > div.active {
    border: 2px solid var(--stone-900);
    padding: 0.25rem;
}


.MultiCard_leftSide__EpV8O {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 944px;
}

.LeftSection_leftSide__8j116 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.UTP_container__7yZ4U {
    border: 1px solid #666;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 24px 0;
    padding-bottom: 40px;
    position: relative;
}

.UTP_logo__u2eN9 {
    bottom: 0;
    position: absolute;
    right: 16px;
}

.UTP_container__7yZ4U legend {
    font-family: Gilroy-Bold, sans-serif;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
    margin-left: 40px;
    padding-left: 8px;
    padding-right: 12px;
    width: auto;
}

.UTP_list__P5z75 {
    -moz-column-gap: 40px;
    column-gap: 40px;
    display: flex;
    flex-wrap: wrap;
    padding: 32px 48px 0;
    row-gap: 20px;
}

.UTP_item__ls_JY {
    align-items: center;
    display: flex;
    gap: 8px;
}

.UTP_item__ls_JY img {
    height: 40px;
    width: 40px;
}

.UTP_box__C9EWh {
    color: #666;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
    padding: 0 48px;
}

.About_container__UJRj_ {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.About_title__fuUd9 {
    font-family: Gilroy-Bold, sans-serif;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

.About_defaultButtons__yaIq_ {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
}

.About_defaultButtons__yaIq_ a,
.About_defaultButtons__yaIq_ button {
    background: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 100px;
    font-size: 14px;
    line-height: 16px;
    padding: 11px 15px;
}

.About_defaultButtons__yaIq_ .About_active__viLm6 {
    background-color: #111;
    border-color: #111;
    color: #fff;
}

.About_detail__fUxGY {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.DetailItem_detailItem___agp4 {
    display: flex;
}

.DetailItem_dots__DakIP {
    border-bottom: 1px dotted #bbb;
    flex-grow: 1;
    height: 1em;
    margin: 0 0.5em;
}

.DetailItem_value__1B_NB {
    width: 50%;
}

.About_detail__fUxGY .About_showMore__pMNrt {
    margin-top: 4px;
}

.About_showMore__pMNrt {
    width: fit-content;
}

.About_color__QnQrO {
    margin-top: 12px;
}

.About_showMore__pMNrt span {
    border-bottom: 1px dashed #212121;
    border-radius: 0;
}

.About_showMore__pMNrt span:hover {
    color: #00b9bf;
    border-bottom-color: #00b9bf;
}

.About_about__DKisu {
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

.About_about__DKisu ul {
    padding-left: 1.2rem;
}

.About_about__DKisu ul li {
    margin-bottom: 4px;
    list-style: disc inside;
}

.ColorFeatures_colorFeatures___GsyA .ColorFeatures_button__DtFxm {
    cursor: pointer;
    text-decoration: underline;
}

.ColorFeatures_colorFeatures___GsyA .ColorFeatures_button__DtFxm:hover {
    color: #00b9bf;
}

@media (min-width: 768px) {
    .ColorFeatures_dashed__XxcTo:hover {
        border-bottom: 1px dashed #00b9bf;
    }
}

.Documents_docCol__YEgmv > div {
    padding: 0;
}

.Documentation_item__oATQI {
    display: flex;
    gap: 8px;
    padding: 6px 0;
}


